@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;400;600;700&family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #ef233c;
  padding: 60px 60px 0 60px;
  transition: 0.5s;
}
.full-screen{
  padding: 0;
}
body::-webkit-scrollbar{
  width: 12px;
  

}
body::-webkit-scrollbar-track {
  background: #faf9f9;
  
}

body::-webkit-scrollbar-thumb {
  background-color: #bfc0c0;
  border-radius: 15px;
  border: 2px solid #faf9f9;
  cursor: pointer;
}
body::-webkit-scrollbar-thumb:hover{
  background-color: #6c757d;
}

main{
  background-color: #faf9f9;
  min-width: 948px;
  min-height: 100vh;
}
main > header{
  display: grid;
  grid-template-columns: minmax(280px, 320px) 1fr minmax(200px, 230px);
  border-bottom: 2px solid #e5e5e5;
  height: 90px;
}

main header .logo{
  min-width: 250px;
  display: flex;
  justify-content: start;
  padding-left: 50px;
  align-items: center;
  border-right: 2px solid #e5e5e5;
}
main header .logo div > img{
  border-radius: 50%;
  width: 43px;
  height: 43px;
  margin-right: 10px;
}
main header .logo .title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
}
main header .logo div > h1{
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
}
main header .logo div > h4{
  color: #bfc0c0;
  letter-spacing: 8px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.75rem;
}
main header nav ul {
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 400px));
  height: 100%;
}
main header nav ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid #e5e5e5;
}
main header nav ul li > a {
  color: #000000;
  font-size: 0.94rem;
  font-weight: 500;
  height: 100%;
  display: flex;
  align-items: center;
}
main header nav ul li a .hot{
  position: relative;
  padding-top: 1px;
  display: inline-block;
  background-color: #ef233c;
  width: 35px;
  height: 15px;
  margin-left: 5px;
  text-align: center;
  font-size: 0.7rem;
  color: #ffffff;
  border-radius: 2px;
} 
main header nav ul li .icone-nav{
  display: inline-block;
  font-size: 1.1rem;
  margin-right: 5px;
  margin-top: 3px;
  
}
main header nav ul li a .hot::before{
  content: '';
  position: absolute;
  background-color: #ef233c;
  width: 10px;
  height: 10px;
  translate: -100% 16%;
  clip-path: polygon(50% 0, 0 50%, 50% 100%);
  z-index: 1;
}


main header .login{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 60px;
}
main header .login > #full-screen{
  position: absolute;
  font-size: 1rem;
  padding: 5px;
  cursor: pointer;
  right: 0;
  top: 0;
  color: #6c757d;
  
}

main header .login > span > span{
  position: absolute;
  font-size: 1rem;
  padding: 5px;
  cursor: pointer;
  right: 0;
  top: 0;
  color: #6c757d;
  
}

main header .login a{
  color: #000000;
  font-size: 0.94rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}


main header .login a div.icone-user{
  width: 30px;
  height: 30px;
  background-color: #e5e5e5;
  font-size: 1.1rem;
  margin-right: 15px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
} 

/* Começo div shortcut */
main > .shortcut{
  display: grid;
  grid-template-columns: minmax(280px, 320px) 1fr minmax(200px, 230px);
  border-bottom: 2px solid #e5e5e5;
  height: 50px;
  font-size: 0.8rem;
}

main .shortcut .shortcut-index-page{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 50px;
  border-right: 2px solid #e5e5e5;
}
main .shortcut .shortcut-index-page > .material-symbols-outlined{
  font-size: 1.5em;
}
main .shortcut .shortcut-index-page .detail{
  color: #bfc0c0;
}
main .shortcut .shortcutGrid{
  display: grid;
  grid-template-columns: repeat(5, minmax(100px, 400px));
  height: 100%;
}
main .shortcut .shortcutGrid .shortcutGrid-compare{
  grid-column: 1/3;
  align-items: center;
  border-right: 2px solid #e5e5e5;
}
main .shortcut .shortcutGrid .shortcutGrid-compare .shortcut-compare{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 300px;
}

main .shortcut .shortcutGrid .shortcutGrid-compare .shortcut-compare .material-symbols-outlined{
  font-size: 1.5em;
  background-color: #ef233c;
  color: #ffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
main .shortcut .shortcutGrid .shortcutGrid-compare .shortcut-compare .material-symbols-outlined:nth-child(3){
  background-color: transparent;
  color: #bfc0c0;
  padding-left: 30px;
}
main .shortcut .shortcutGrid .shortcutGrid-wish{
  grid-column: 3/5;
  align-items: center;
  border-right: 2px solid #e5e5e5;
}

main .shortcut .shortcutGrid .shortcutGrid-wish .shortcut-wish{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 200px;
  max-width: 300px;
}

main .shortcut .shortcutGrid .shortcutGrid-wish .shortcut-wish > .material-symbols-outlined{
  font-size: 1.5em;
  background-color: #ef233c;
  color: #ffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  margin-right: 10px;
}
main .shortcut .shortcutGrid .shortcutGrid-wish .shortcut-wish > .material-symbols-outlined:nth-child(3){
  background-color: transparent;
  color: #bfc0c0;
  padding-left: 30px;
}

main .shortcut .shortcutGrid .shortcutGrid-bag{
  grid-column: 5/6;
  align-items: center;
  width: 250px;
}

main .shortcut .shortcutGrid .shortcutGrid-bag .shortcut-bag{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

main .shortcut .shortcutGrid .shortcutGrid-bag .shortcut-bag > .material-symbols-outlined{
  font-size: 1.5em;
  background-color: #ef233c;
  color: #ffff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
  margin-right: 10px;
}
main .shortcut .shortcutGrid .shortcutGrid-bag .shortcut-bag > .material-symbols-outlined:nth-child(3){
  background-color: transparent;
  color: #bfc0c0;
  padding-left: 30px;
}


main .wrapper-section{
  display: grid;
  grid-template-columns: minmax(280px, 320px) 1fr;
}
/* Aside filter */

main .aside-filter{
  display: flex;
  flex-direction: column;
/*   
  max-width: 320px;
  min-width: 280px; */
  gap: 10px;
  padding-left: 50px;
  padding-right: 30px;
  border-right: 2px solid #e5e5e5;
  
}

main .aside-filter h3{
  margin-top: 40px;
  font-size: 1rem;
}

main .aside-filter .aside-price{
  display: flex;
  justify-content: space-between;
}
main .aside-filter .aside-price .aside-price-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 100%;
  background-color: #e5e5e5;
  border-radius: 3px;
  margin-top: 10px;
}

main .aside-filter .aside-price .aside-price-content p{
  font-size: 0.85rem;
  color: #838383;
}
main .aside-filter .aside-price .aside-price-content p > span{
  color: #000;
  font-size: 0.95rem;
  font-weight: 500;
}

.aside-filter .aside-range input[type='range']{
 
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(90deg, #e5e5e5 60%, #e5e5e5 60%);
  cursor: pointer;
  width: 100%;
  height: 5px;
  border-radius: 5px;
}

.aside-filter .aside-range input[type='range']::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  background-color: #ef233c;
  border-radius: 50%;
  
}

.aside-filter .theme .header-theme{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  
}
.aside-filter .theme .header-theme span{
  margin-top: 40px;
  font-weight: 500;
  
}

.aside-filter .theme .theme-itens{
  outline: none;
  color: #bfc0c0;
  font-size: 0.9rem;
  font-weight: 400;
  height: 150px;
  overflow-y: scroll;
  margin-right: 10px;

}
.aside-filter .theme .theme-itens:nth-child(2){
  overflow-y: auto;
}

.aside-filter .theme .theme-itens::-webkit-scrollbar{
  
  width: 5px;
  background-color: #e5e5e5;
  border-radius: 5px;
}
.aside-filter .theme .theme-itens::-webkit-scrollbar-thumb{
  
  background-color: #ef233c;
  height: 10px;
  border-radius: 5px;

}

.aside-filter .theme .theme-itens div{
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  
}
.aside-filter .theme .theme-itens div input[type="checkbox"]{
  position: relative;
  appearance: none;
  width: 16px;
  height: 16px;
  background-color: #e5e5e5;
  margin-right: 10px;
  border-radius: 2px;
  transition: all 150ms ease-in;
  cursor: pointer;
}
.aside-filter .theme .theme-itens div input[type="checkbox"]:checked{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ef233c;
}
.aside-filter .theme .theme-itens div input[type="checkbox"]:checked+label{
  color: #000;
  font-weight: 500;
}
.aside-filter .theme .theme-itens div input[type="checkbox"]:checked::before{
  position: absolute;
  content: '';
  rotate: 45deg;
  width: 3px;
  height: 7px;
  border-right: solid 1px #ffff;
  border-bottom: solid 1px #ffff;
  color: #ffff;
  margin-top: -2px;
}

.aside-filter .moreFilter{
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}

.aside-filter .moreFilter .moreFilterText{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1rem;
  
}
.aside-filter .moreFilter .buttons{
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aside-filter .moreFilter .buttons button{
  padding: 10px;
  border: none;
  cursor: pointer;
  background-color: #ef233c;
  color: #fff;
  border-radius: 4px;
  width: 160px;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 400;
}
.aside-filter .moreFilter .buttons span{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e5e5e5;
  padding: 10px;
  border-radius: 50%;
  margin-right: -12px;
  cursor: pointer;
}
.aside-filter .moreFilter .buttons span i{
  scale: 1.2;
}

main .wrapper-section .catalog-filter{
  padding: 0 5%;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}
main .wrapper-section .catalog-filter h1{
  font-size: 3.25rem;
  margin-bottom: 2rem;
}

main .wrapper-section .catalog-filter .search-filter{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

main .wrapper-section .catalog-filter .search-filter .search{
  display: flex;
  align-items: center;
  
  
}
main .wrapper-section .catalog-filter .search-filter .search i{
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 1.1;
  color: #bfc0c0;
}
main .wrapper-section .catalog-filter .search-filter .search input{
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;
  height: 49px;
  width: 400px;
  min-width: 100px;
  margin-left: 1px;
  padding-left: 20px;
  font-size: 0.99em;
  color: #bfc0c0;
  background-color: #faf9f9;
}
main .wrapper-section .catalog-filter .search-filter .search input::placeholder{
  color: #bfc0c0;
}

main .wrapper-section .catalog-filter .search-popular{
  display: flex;
  align-items: center;
}
main .wrapper-section .catalog-filter .search-popular i{
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  scale: 1.1;
  color: #bfc0c0;
}
main .wrapper-section .catalog-filter .search-popular input{
  border: 2px solid #e5e5e5;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;
  height: 49px;
  min-width: 100px;
  margin-left: 1px;
  padding-left: 20px;
  font-size: 0.99em;
  color: #bfc0c0;
  background-color: #faf9f9;
}
main .wrapper-section .catalog-filter .search-popular input::placeholder{
  color: #000;
}
main .wrapper-section .hashtag{
  margin-top: 20px;
}

main .wrapper-section .catalog-filter span{
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding: 5px 15px;
  background-color: #e5e5e5;
  font-size: 0.8em;
  font-weight: 400;
  cursor: pointer;
  
}

/* main .wrapper-section .catalog-filter span::after{
  
  position: relative;
  content: '';
  width: 11px;
  height: 1px;
  margin-left: 5px;
  rotate: 45deg;
  background-color: #000;
  display: none;
  
}
main .wrapper-section .catalog-filter span:hover::after{
  display: block;
}
main .wrapper-section .catalog-filter span::before{
  position: absolute;
  content: '';
  width: 11px;
  height: 1px;
  margin-left: 5px;
  rotate: -45deg;
  background-color: #000;
  right: 15px;
  display: none;
}
main .wrapper-section .catalog-filter span:hover::before{
  display: block;
  
} */

/* main .card-container{
  height: 240px;
  transition: 0.2s;
}
main .card-container:hover{
  height: 100%;
  transition: 0.2s;
} */
main .wrapper-section .section-products{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  min-height: 900px;
}

main .wrapper-section .section-products .wrapper-card{
  max-width: 18rem;
  height: 25rem;
}

main .wrapper-section .section-products .wrapper-card .card-img{
  height: 50%;
  border: 2px solid #e5e5e5;
}

main .wrapper-section .section-products .wrapper-card .card-img .icon-favorite{
  display: flex;
  justify-content: end;
  align-items: center;
}
main .wrapper-section .section-products .wrapper-card .card-img .icon-favorite > span{
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: 600;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  margin: 5px;
}

main .wrapper-section .section-products .wrapper-card .card-img > .img-product{
  width: 100%;
  height: 100%;
  margin-top: -50px;
  
}
main .wrapper-section .section-products .wrapper-card .card-img > .img-product > img{
  
  max-width: 100%;
  filter: drop-shadow(0 15px 10px rgba(0,0,0,0.3));
  margin-top: 10px;      
          
}
main .wrapper-section .section-products .wrapper-card .product-detail{
  padding: 20px;
  border: 2px solid #e5e5e5;
  border-top: none;
  /* transform: translateY(-200px);
  transition: 0.3s;
  opacity: 0; */
  
}
/* main .wrapper-section .section-products .wrapper-card:hover .product-detail{
  transform: translateY(0px);
  opacity: 1;
  
} */




main .wrapper-section .section-products .wrapper-card .product-detail p{
  color: #bfc0c0;
  font-size: 0.8rem;
  margin-top: 20px;
}

main .wrapper-section .section-products .wrapper-card .product-detail h4{
  font-weight: 500;
  margin-top: 15px;
}

main .wrapper-section .section-products .wrapper-card .product-detail .product-price{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .wrapper-section .section-products .wrapper-card .product-detail .product-price div > .price-off{
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0;
  margin-top: 10px;
}
main .wrapper-section .section-products .wrapper-card .product-detail .product-price div > .main-price{
  background-color: transparent;
  font-size: 0.95rem;
  font-weight: 400;
  padding: 0;
  margin-top: 10px;
  margin-left: 10px;
  text-decoration: line-through;
  color: #bfc0c0;
}
main .wrapper-section .section-products .wrapper-card .product-detail div > span.bag-products{
  background-color: #ef233c;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
}

main footer{
  display: grid;
  grid-template-columns: minmax(5%, 17%) repeat(7, 1fr) minmax(5%, 17%);
  min-width: 100%;
  max-width: 100%;
  background-color: #faf9f9;
  height: 5rem;
  place-items: center;
  border-top: 2px solid #e5e5e5;
  cursor: pointer;
}

main footer #previous-page{
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer
}

main footer .number-page{
  border-left: 2px solid #e5e5e5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main footer .number-page span{
  background-color: #ef233c;
  padding: 15px;
  color: #fff;
  border-radius: 50%;
}

main footer #next-page{
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-left: 2px solid #e5e5e5;
  
}

@media (max-width: 1500px) {

  main .wrapper-section .section-products{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }


  main .wrapper-section .section-products .wrapper-card .card-img > .img-product > img {
    max-width: 100%;
    filter: drop-shadow(0 15px 10px rgba(0,0,0,0.3));
    margin-top: 20px;
}
}